@import url(keyframes.css);

html, body {
	text-align:center;
	font-family: sans-serif;
}

section {
	text-align: left;
	position:relative;
	vertical-align:top;
}

header {
	font-size:1.5rem;
	background-color:black;
	color: white;
}

footer {
	position:relative;
	background-color: darkgray;
	color: white;
	width:100%;
}

section#levelSelector {
	position:absolute;
	width:256px;
	left: -32px;
	height: 600px;
	overflow-y: auto;
	-webkit-transition: left 0.5s ease-in-out;
	transition: left 0.5s ease-in-out;
	padding-left:36px;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
}

section#levelSelector.expanded {
	left: -256px;
}

button#levelSelectToggle {
	position:relative;
	left:-32px;
	width:32px;
	margin:0;
	vertical-align:middle;
}

div#gamecontainer {
	position:relative;
	display:inline-block;
	margin-left:256px;
}

div#gridContainer, div#clockContainer {
	position:relative;
	display:inline-block;
	vertical-align:middle;
}
div#grid {
	position:relative;
	background-color:lightgray;
	background-image:url(images/road.png);
	overflow:hidden;
}

div#messagebox {
	width:100%;
	background-color:#333;
	position:absolute;
}

div.car {
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
	border: 1px solid lightgray;
	position:absolute;

	left: 0;
	top:0;

	-webkit-transition: left 0.25s ease-in-out, top 0.25s ease-in-out;
	transition: left 0.25s ease-in-out, top 0.25s ease-in-out, transform 0.5s ease-in;

	box-shadow: 0px 0px 5px rgba(0,0,0,0.5);
	text-align:center;

	-webkit-animation: slide_down 0.5s ease-out 1;
	animation: slide_down 0.5s ease-out 1;
}

div.car.urgent {
	outline-width:4px;
	outline-style: solid;
	outline-color: black;
	color: red;
	-webkit-animation: urgent 0.5s linear infinite;
	animation: urgent 0.5s linear infinite;
}

div.car.selected {
	border-color: black;
}

div.car.yours {
	background-color:white;
	box-shadow: 0px 0px 48px white;
}

div.car.yours.leaving {
	animation: slide_up 0.5s ease-out 1;
	text-decoration:underline;
}

div.no-parking {
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
	position:absolute;
	border: 4px solid yellow;
	background-image:url(images/caution.png);
}

div.clock
{
	position:relative;
	background-color:lightgray;
	width:128px;
	height:128px;
	border-radius:4em;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
	background-image:url(images/clock.png);
}

div.clock div.hand{
	position:absolute;
	bottom:50%;
	left:62px;
	width:4px;
	background-color:black;

	-webkit-transform-origin: 50% 100%;
	transform-origin: 50% 100%;

	-webkit-transition: -webkit-transform 0.1s linear; 
	transition: transform 0.1s linear; 
}

div.hour.hand {
	height:35%;
}

div.minute.hand {
	height:45%;
}

div.message, div.level {
	border-top: 1px solid rgba(255,255,255,0.25);
	border-bottom: 1px solid rgba(0,0,0,0.5);
	padding:1em;
}

div.message {
	width:100%;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;

	-webkit-animation: slide_right 0.25s ease-out 1;
	animation: slide_right 0.25s ease-out 1;
}
